<!-- 头部导航 -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- 左侧占位 -->
    <div class="navbar-brand invisible">占位</div>

    <!-- 标题居中 -->
    <span class="navbar-brand mb-0 h1 position-absolute start-50 translate-middle-x">{{title}}</span>

    <!-- 用户信息 -->
    <div class="d-flex align-items-center">
      @if (!user.isAuth) {
        <button
          class="btn btn-outline-light"
          (click)="login()">
          登录
        </button>
      } @else {
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-light" ngbDropdownToggle>
            <i class="bi bi-person me-2"></i>{{user.user?.name}}
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="logout()">
              <i class="bi bi-box-arrow-right me-2"></i>注销
            </button>
          </div>
        </div>
      }

    </div>
  </div>
</nav>

<!-- 主要内容区 -->
<div class="container-fluid">
  <div class="row mt-3">
    <!-- 侧边导航 -->
    <div class="col-md-2">
      <div ngbNav #nav="ngbNav"
        [(activeId)]="active"
        class="nav-pills flex-column"
        orientation="vertical">

        <ng-container ngbNavItem="home">
          <button ngbNavLink [routerLink]="path.Home">
            <i class="bi bi-house me-2"></i>首页
          </button>
        </ng-container>

        <ng-container ngbNavItem="natives">
          <button ngbNavLink [routerLink]="path.Native">
            <i class="bi bi-journal-text me-2"></i>记录
          </button>
        </ng-container>

        <ng-container ngbNavItem="user">
          <button ngbNavLink [routerLink]="path.User">
            <i class="bi bi-people me-2"></i>用户
          </button>
        </ng-container>
      </div>
    </div>

    <!-- 内容区 -->
    <div class="col-md-10">
      <div class="bg-light rounded p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
